<html>
  <body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>

    <ul>
      <li><a href="/posts/post-1">Post1</a></li>
      <li><a href="/posts/post-2">Post2</a></li>
      <li><a href="/posts/post-3">Post3</a></li>
    </ul>
  </body>
</html>
